#!/bin/bash -xv
#SBATCH --job-name=delly
#SBATCH --account ACCOUNT
#SBATCH --mem=48G
#SBATCH --time=72:00:00
#SBATCH --ntasks=5
#SBATCH --nodes=1
#SBATCH -p ACCOUNT

set -e

echo "starting delly at $(date)"

module load bcftools-intel/1.5

NORMPATH=ROOT/out/NORMAL.mapped.bam
TUMPATH=ROOT/out/TUMOUR.mapped.bam
REFERENCE=ROOT/reference-wgs-1.1.2/core_ref_GRCh37d5/genome.fa
OUTPUT_PREFIX=ROOT/out/TUMOUR.delly

#DEL, DUP, INV, BND, INS
for SV in DEL DUP INV BND INS; do
  ROOT/tools/delly_v0.7.7_CentOS5.4_x86_64bit call -t $SV -s 9 -q 1 -g $REFERENCE -x ROOT/reference-delly/human.hg19.excl.tsv -o ${OUTPUT_PREFIX}.${SV}.bcf $TUMPATH $NORMPATH 1>ROOT/out/TUMOUR.delly.${SV}.log.out 2>ROOT/out/TUMOUR.delly.${SV}.log.err &
done
wait

bcftools concat -a ${OUTPUT_PREFIX}.*.bcf > ${OUTPUT_PREFIX}.vcf

echo "finishing delly at $(date)"
