#!/usr/bin/env bash

set -e

# runs inside the container

# set this to the number of cores
export CPU=CORES

# - prepend the correct path to sequenza-utils because the file (/services/weischenfeldt_lab/modulefiles/sequenza-utils/2.2.0) incorrectly sets the path for any non-docker user
# 2.0.0
#export PATH=$PATH:/services/weischenfeldt_lab/software/sequenza-utils/2.2.0/bin/:/services/weischenfeldt_lab/software/delly/0.7.7/bin:/services/weischenfeldt_lab/seqstats/0.5.6/bin:/services/weischenfeldt_lab/software/delly-filter/0.0.1/bin:/services/weischenfeldt_lab/software/cov_tool/0.5.6/bin:/services/weischenfeldt_lab/software/Delly_sv_PoN_filter/1.0.0/bin:/services/weischenfeldt_lab/software/cov_plot/0.0.1/bin

# 2.0.0a
# based on /services/tools/modulefiles
#bedtools
#prereq samtools
#prereq R
#prereq cov_tool
#prereq vcftools
#prereq tabix
#prereq vcflib
#prereq samtools

# based on /services/weischenfeldt_lab/modulefiles
#export PATH=$PATH:/services/weischenfeldt_lab/software/sequenza-utils/2.2.0/bin/:/services/weischenfeldt_lab/software/delly/0.7.7:/services/weischenfeldt_lab/software/seqstats/0.5.6/bin:/services/weischenfeldt_lab/software/delly-filter/0.0.1/bin:/services/weischenfeldt_lab/software/cov_tool/0.5.6/bin:/services/weischenfeldt_lab/software/Delly_sv_PoN_filter/1.0.0/bin:/services/weischenfeldt_lab/software/Delly_sv_PoN_filter/1.0.0/code/:/services/weischenfeldt_lab/software/cov_plot/0.0.1/bin

#export R_COV_PLOT=/services/weischenfeldt_lab/software/cov_plot/0.0.1/R/read_depth_ratio_sv_bedpe_plusCovSigSeg.R
#export R_CIRCOS_PLOT=/services/weischenfeldt_lab/software/cov_plot/0.0.1/R/CircosPlot.R

#export SV_PON_CODE_PATH=/services/weischenfeldt_lab/software/Delly_sv_PoN_filter/1.0.0/code/

# changes to get this working
# - manually load the required modules. this seems to have been specifically configured for the docker user and doesn't run in singularity


#R/3.2.1                    bedtools/2.26.0            bwa/0.7.15                 java/1.7.0-openjdk         samtools/0.1.18            tabix/1.2.1(default)       vcftools/0.1.12b
#bcftools/1.3.1             bwa/0.7.10                 htslib/1.2.1               mutect/1.1.7               samtools/1.2               vcflib/1.0.0-rc0-260-g5e3c
#
#--------------------------------------------------------------------------------- /services/weischenfeldt_lab/modulefiles ----------------------------------------------------------------------------------
#Delly_sv_PoN_filter/1.0.0 cov_tool/0.5.6(default)   delly/0.7.6               delly-filter/0.0.1        sequenza-utils/2.2.0
#cov_plot/0.0.1            delly/0.6.6               delly/0.7.7               seqstats/0.5.6
#
#-------------------------------------------------------------------------------------- /usr/share/Modules/modulefiles --------------------------------------------------------------------------------------
#dot         module-git  module-info modules     ngs         null        tools       use.own
#

#bash -c -x -v '. /etc/profile.d/modules.sh && module use /usr/share/Modules/modulefiles && module use /services/weischenfeldt_lab/modulefiles && module avail && /usr/bin/launch_env.sh --run-id run_id --normal-bam /mnt/out/NORMAL.mapped.bam --tumor-bam /mnt/out/TUMOUR.mapped.bam --reference-gz /mnt/reference/genome.fa.gz --reference-gc /mnt/reference/hs37d5_1000GP.gc --exclude-reg /mnt/reference/human.hg19.excl.tsv --sv-collection /mnt/reference/svCallCollectionsPCAWG.tar.gz --bin 200 --ncpu $CPU --tmp /mnt/tmp'
#bash -c -x -v '. /etc/profile.d/modules.sh && module use /usr/share/Modules/modulefiles && module use /services/weischenfeldt_lab/modulefiles && module use /services/tools/modulefiles && module avail && /usr/bin/run_delly_pipeline --run-id run_id --normal-bam /mnt/out/NORMAL.mapped.bam --tumor-bam /mnt/out/TUMOUR.mapped.bam --reference-gz /mnt/reference/genome.fa.gz --reference-gc /mnt/reference/hs37d5_1000GP.gc --exclude-reg /mnt/reference/human.hg19.excl.tsv --sv-collection /mnt/reference/svCallCollectionsPCAWG.tar.gz --bin 200 --ncpu $CPU --tmp /mnt/tmp'

#bash -c -x -v '. /etc/profile.d/modules.sh && module use /usr/share/Modules/modulefiles && module use /services/weischenfeldt_lab/modulefiles && module use /services/tools/modulefiles && module avail && module load bedtools/2.26.0 samtools/1.2 R/3.2.1 vcftools/0.1.12b tabix/1.2.1 vcflib/1.0.0-rc0-260-g5e3c && module load Delly_sv_PoN_filter/1.0.0 cov_tool/0.5.6 delly-filter/0.0.1 sequenza-utils/2.2.0 cov_plot/0.0.1 delly/0.7.7 seqstats/0.5.6 && echo "options(bitmapType='"'"'cairo'"'"')" >> ~/.Rprofile && /usr/bin/run_delly_pipeline --run-id run_id --normal-bam /mnt/out/NORMAL.mapped.bam --tumor-bam /mnt/out/TUMOUR.mapped.bam --reference-gz /mnt/reference/genome.fa.gz --reference-gc /mnt/reference/hs37d5_1000GP.gc --exclude-reg /mnt/reference/human.hg19.excl.tsv --sv-collection /mnt/reference/svCallCollectionsPCAWG.tar.gz --bin 200 --ncpu $CPU --tmp /mnt/tmp'


# --- 30-nov-2017 ---

export MODULEPATH=/services/weischenfeldt_lab/modulefiles:/usr/share/Modules/modulefiles:/etc/modulefiles
export MODULESHOME=/usr/share/Modules
module() { eval `/usr/bin/modulecmd bash $*`; }
export -f module
export IS_IN_DOCKER=1

bash -c -x -v '/usr/bin/run_delly_pipeline --run-id run_id --normal-bam /mnt/out/NORMAL.mapped.bam --tumor-bam /mnt/out/TUMOUR.mapped.bam --reference-gz /mnt/reference/genome.fa.gz --reference-gc /mnt/reference/hs37d5_1000GP.gc --exclude-reg /mnt/reference/human.hg19.excl.tsv --sv-collection /mnt/reference/svCallCollectionsPCAWG.tar.gz --bin 200 --ncpu $CPU --tmp /mnt/tmp'

