#!/usr/bin/env bash
set -e

echo "starting muse at $(date)"

REFERENCE=ROOT/reference-wgs-1.1.2/core_ref_GRCh37d5/genome.fa
NRML_ABS=ROOT/out/NORMAL.mapped.bam
TMR_ABS=ROOT/out/TUMOUR.mapped.bam
OUTPUT=ROOT/out/TUMOUR.muse.vcf
MUSE=ROOT/tools/MuSEv1.0rc_submission_c039ffa

CALL_VARIANTS

echo "finished calls at $(date)..."

# combine variants
cat TMP_DIR/tmp*.MuSE.txt > TMP_DIR/combined

# make vcf
$MUSE sump -I TMP_DIR/combined -G -O $OUTPUT

echo "finishing muse at $(date)"
